<div class="employee-list-header">
  <h3>Employees</h3>
</div>
<!--<app-employee-search></app-employee-search>-->
<input #searchBox id="search-box" (keyup)="search(searchBox.value)"/>
<div class="employees-container">
    <app-employee-card *ngFor="let employee of employees | async" [employee]="employee"></app-employee-card>
</div>
<div *ngIf="selectedEmployee">
    <h2>
        {{selectedEmployee.name | uppercase}} is a Hyphen Employee
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>