<div class="dashboard-header">
  <h3>DashBoard</h3>
</div>
<div class="dashboard-content">
  <!--<a *ngFor="let employee of employees" [routerLink]="['/employee/detail', employee.id]" class="col-1-4">
    <div class="module hero">
      <h4>{{employee.name}}</h4>
    </div>
  </a>-->

  <app-dashboard-card [Data]="newsCard"></app-dashboard-card>
  <app-dashboard-card [Data]="blogCard"></app-dashboard-card>
  <app-dashboard-card [Data]="empSchedCard"></app-dashboard-card>
</div>

<!--
  in here a list of dashboard cards will be placed
  * voted top employee
  * employee/company news
  * new blogs
  * upcoming schedule
  * upcoming event
-->