.employee-card{
    width: 180px;
    height: 230px;
    margin: 10px;
}

.employee-avatar {
    background-image: url('assets/images/vendetta.ico');
     background-size: cover;
}

.employee-card-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.employee-card-header{
    margin-bottom: 40px;
}

.employee-card-inner{
    width: 50%;
    height: 100px;
}