nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

.hs-banner {
  border-bottom: 1px solid #e0e0e0;
  display: flex;
}

.hs-logo {
  margin-right: auto;
}

.hs-user {
  margin-left: auto;
}

.hs-nav {
  width: 100px;
  text-align: center;
  margin: 1px;
}

